@import "tailwindcss";

/* Hide scrollbars in horizontal scroll containers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}
